<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite>
            <directory>vendor/php-ds/tests/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/logs/coverage"/>
        <log type="coverage-text" target="build/logs/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/coverage.xml"/>
    </logging>
</phpunit>
